body {
  background: #E9EBEE;
  display: grid;
  grid-gap: 24px;
  padding: 24px;
  color: #8898AA;
}

pre {
  width: 100%;
  max-width: 661px;
  margin: 0 auto;
  background: #282C34;
  padding: 4px;
  overflow: hidden;
  box-shadow: 0 4px 1rem -4px #322E2F;
  font-size: initial;
}
pre code {
  line-height: 20px;
  cursor: pointer;
}